body {
	background-color: maroon;
	text-align: center;
	overflow: hidden;
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.text{
	color: ghostwhite;
}

.link{
	color: powderblue;
}

.user-box{
	background-color: seagreen;
	width: 100%;
    height: 75px;
    box-sizing: border-box;
    padding: 2px;
    position: absolute;
    bottom: 0;
}

.move-text{
	text-align: right;
	width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
    font-size: 71px;
}